.git
.github
docs
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
**/coverage
**/htmlcov
**/.DS_Store
compose*.yaml
Makefile
README.md
